@import "../variable.scss";

mat-toolbar {
    background: #0a6160;
    color: white;
    border-bottom: 5px solid #e4ad53;
    min-height: 60px;
}

mat-sidenav {
    width: 200px;
    background-color: #f0fffd;
}

.content {
    height: calc(100vh - 98px);
}

mat-sidenav-container {
    height: calc(100vh - 65px);
    font-size: 2rem;
    background-color: $theme-bg-color;
    color: #0a6160;
}
